.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.header {
  flex: 0;
  height: 5rem;
  width: calc(100% - 5rem);

  margin: 0.3rem 1.5rem 1rem 1.5rem;
  padding: 1rem;

  border-bottom: 4px dotted var(--color1);

  display: flex;
  justify-content: center;

  font-size: 2rem;
  font-weight: 800;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  width: max(40%, 35rem);
}

.summary {
  display: flex;
  min-height: 3rem;
  width: max(40%, 35rem);
  padding: 2rem;
  justify-content: end;
  align-items: center;
  box-sizing: border-box;

  font-size: 2rem;
  font-weight: 800;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 20rem;
  max-height: 40%;
  min-height: 3rem;
  cursor: pointer;

  border: 0;
  border-radius: 1rem;

  font-size: 1.3rem;
}

.black {
  background-color: var(--color1);
  color: var(--font-color-sidebar);
}

.emptyContainer {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}
