.container {
  display: flex;

  align-items: center;
  justify-content: center;
}

.displayContainer {
  display: flex;
  width: 60%;
  height: 80vh;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 80vh;
}

.title {
  margin: 0.3rem;
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;

  font-weight: 900;
  font-size: 3rem;
  font-family: (--font-stack);
}

.desc {
  margin: 0.3rem;
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;

  font-size: 2rem;
  font-family: (--font-stack);
}
