.container {
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 1rem 2rem 2rem 2rem;
}

.displayContainer {
  display: flex;
  width: 60%;
  height: 80vh;
}

.infoContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 40%;
  height: 80vh;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.title {
  margin: 0.3rem;
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;

  font-weight: 900;
  font-size: 3rem;
  font-family: (--font-stack);
}

.desc {
  margin: 0.3rem;
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;

  font-size: 1.4rem;
  font-family: (--font-stack);
  color: grey;
}

.price {
  margin: 0.3rem;
  padding: 0.2rem 3rem 0.2rem 0.3rem;

  font-weight: 900;
  font-size: 3rem;
  font-family: (--font-stack);

  text-align: end;
}

.cart_container {
  position: absolute;
  bottom: 10%;
  font-size: 2.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.quantity_control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.quantity_button {
  display: flex;
  width: 2.8rem;
  height: 2.8rem;
  padding: 5px;
  font-size: 3rem;
  color: #fff;
  background-color: var(--color1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  align-items: center;
  justify-content: center;
}

.addToCartContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.addButton {
  width: 90%;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;

  background-color: var(--color1);
  color: var(--color5);
}

.backButton {
  display: flex;
  font-size: 1.3rem;
  margin: 1rem 0 0 1rem;
  padding: 1rem 0 0 1rem;
  text-decoration: none;
}
