.cover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  width: 100vw;
  height: 100vh;
}

.miniCart {
  position: absolute;
  right: -30vw;
  width: 30vw;
  height: 100%;
  background-color: var(--color5);
  transition: all 0.3s ease-in-out;
}

.CartActive {
  right: 0;
}

.deActive {
  display: none;
}

.header {
  position: relative;
  top: 0;

  display: flex;
  justify-content: space-between;
  margin: 1rem;
  border-width: 0 0 2px 0;
  border-color: gray;
  border-style: solid;
  padding: 0 1rem 1rem 1rem;

  font-size: 2rem;
  font-weight: 800;
}

.itemContainer {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  position: absolute;
  bottom: 0;
  height: 20%;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 20rem;
  max-height: 40%;
  min-height: 3rem;
  cursor: pointer;

  border: 0;
  border-radius: 1rem;

  font-size: 1.3rem;
}

.white {
  background-color: var(--main-container-bg-color);
  color: var(--font-color-primary);
  border: 1px solid black;
}

.black {
  background-color: var(--color1);
  color: var(--font-color-sidebar);
}
