#root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

/* variables.css */
:root {
  --primary-bg-color: #efefef;
  --sidebar-bg-color: #3c3744;
  --secondary-bg-color: #090c9b;
  --main-container-bg-color: #ffffff;
  --font-stack: "Arial", sans-serif;
  --padding: 16px;

  --font-color-sidebar: #fbfff1;
  --font-color-primary: #3c3744;

  --color1: #3c3744;
  --color2: #090c9b;
  --color3: #3066be;
  --color4: #b4c5e4;
  --color5: #fbfff1;
}
